name: cicd love
on:
  push:
    branches: [ main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
       -name: checkout code
        uses: actions/checkout@v4
       -name: greetings message
        uses: echo " hello how are you"
    
